body {
    background-color: #1b1b1b;
	margin: 150px;
    color: #fff;
    font-family: Fira Code;
	line-height: 1.5;
}

/* TYPOGRAPHY */

b {
	font-weight: bold;
	color: rgb(176, 223, 70);
}

a {
	color: rgb(129, 213, 237);
	text-decoration-style: dotted;
}

a:hover {
	color: rgb(225, 216, 122);
}

h1 {
	color: rgb(225, 216, 122);
}

h2 {
	color: rgb(225, 57, 110);
}

li::marker {
	color: rgb(164, 126, 249);
}

/* GENERAL STYLES */

header{
	display: flex;
	align-items: center;
}

.portrait,
h1,
nav {
	flex: 1;
}

.portrait img {
	width: 125px;
	border-radius: 50%;
}

h1 {
	flex: 1;
}

li {
	margin-bottom: 5px;
}

li:last-child {
	margin-bottom: 0;
}

footer {
	margin: 60px 0;
	border-top: 2px solid rgb(164, 126, 249);
	text-align: center;
}

/* NAVIGATION */

nav {
	display: flex;
	justify-content: space-between;
}

.navigation .icon {
    display: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 1440px) {
	body {
		width: 1200px;
		margin: 0 auto;
		margin-top: 150px;
	}
}

@media only screen and (max-width: 800px) {
	body {
		margin: 80px;
	}

	header {
		flex-wrap: wrap;
	}

	.portrait {
		flex:unset;
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width: 670px) {
	h1 {
		flex: 3;
	}

	.navigation {
        display: block;
        text-align: right;
    }

    .navigation a {
        display: none;
    }

    .navigation .icon {
        display: block;
    }

    .navigation.responsive {
        position: relative;
    }

    .navigation.responsive a {
        position: static;
        display: block;
    }
}